.item {
  overflow: hidden;
  margin-bottom: 4px;
  padding: 8px;
  width: 180px;
  border-bottom: 3px solid;
  border-radius: 5px;
  background-color: #fff;

  &.item-m {
    width: (180 + 4 + 180)px;

    & > a {
      &::after {
        top: 62px;
      }

      &::before {
        height: 146px;
      }
    }
  }

  &.item-l {
    width: ((180 + 4 + 180) + 4 + (180 + 4 + 180))px;

    & > a {
      &::after {
        top: 190.5px;
      }

      &::before {
        height: 403px;
      }
    }
  }

  &.item-maindish {
    border-color: #ffc0cb;

    & .categoty {
      &::before {
        border-color: #ffc0cb;
      }
    }
  }

  &.item-appetizer {
    border-color: #76c047;

    & .categoty {
      &::before {
        border-color: #76c047;
      }
    }
  }

  &.item-column {
    border-color: #fff100;

    & .categoty {
      &::before {
        border-color: #fff100;
      }
    }
  }

  &.item-breaktime {
    border-color: #c1efff;

    & .categoty {
      &::before {
        border-color: #c1efff;
      }
    }
  }

  & .category {
    margin: 15px 9px 10px;
    color: #aaa;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

    &::before {
      display: inline-block;
      margin-right: 5px;
      width: 19px;
      height: 19px;
      border: 2px solid;
      border-radius: 50%;
      content: '';
      vertical-align: -5px;
    }
  }

  & .description {
    margin: 10px;
    line-height: 1.5;
  }

  & .image {
    display: block;
    width: 100%;
  }

  & > a {
    display: block;
    margin: -8px -8px -11px;
    padding: 8px 8px 11px;
    border-radius: inherit;
    color: #777;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
      opacity: 0.8;

      &::after {
        left: 50%;
        opacity: 1;
      }

      &::before {
        opacity: 1;
      }
    }

    &::after {
      position: absolute;
      top: 43.5px;
      left: 150%;
      display: block;
      margin-left: -50px;
      padding: 8px;
      width: 100px;
      border: 3px solid #fff;
      color: #fff;
      content: 'MORE';
      text-align: center;
      letter-spacing: 3px;
      font-size: 1.6rem;
      font-family: 'Trebuchet MS', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
      opacity: 0;
      transition: all 0.3s ease-in-out;
    }

    &::before {
      position: absolute;
      top: 8px;
      right: 8px;
      left: 8px;
      display: block;
      height: 109px;
      background: rgba(0, 0, 0, 0.5);
      content: '';
      opacity: 0;
      transition: opacity 0.3s linear;
    }
  }
}
